.premium {
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background: #00c218;
  padding: 1rem;
  color: #fff;
  h2 {
    font-size: 1.75rem;
    font-weight: 700;
    margin-bottom: 0;
    margin-left: 0.5rem;
    line-height: 1;
  }
}
